/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	div.wbtm_search_area button,
	div.wbtm_search_area input.formControl{height: 44px;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	div.wbtm_bus_list_area{
		padding: var(--dMP_xs) 0 var(--dMP) 0;margin: var(--dMP_xs) 0 0 0;
		background-color: var(--color_theme);
		border-radius: var(--dBRL);border:1px solid var(--color_theme);
	}
	div.wbtm_bus_list_area table{table-layout: fixed;width: 100%;border: none;border-collapse: inherit;box-shadow: none;margin: 0;}
	div.wbtm_bus_list_area table th,
	div.wbtm_bus_list_area table td{border: none;vertical-align: middle;}
	div.wbtm_bus_list_area table thead th{background-color: var(--color_theme);color:var(--color_theme_alter);text-transform: capitalize;}
	div.wbtm_bus_list_area table tbody{background-color: var(--color_theme_alter);}
	div.wbtm_bus_list_area table tbody  tr.bus_item_row td{border-top:1px solid var(--color_theme); }
	/**********************/
	div.wbtm_bus_list_area td.wbtm_bus_details{padding: 0;}
	/**********************/
	div.wbtm_form_submit_area,
	div.wbtm_ex_service_area{display: none;}
	/**********************/
	img.driver_img{max-width: 45px !important;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
}